* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }

.bg {
    background-image: url(../../pictures/SMid-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    width: 1400px;
    height: 200px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    margin-left: 60px;
    margin-top: 150px;
    margin-bottom: 150px;

}

h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 59px;
    color: #FFFFFF;
    width: 357px;
    height: 113px;
    padding-left: 90px;

}

input {
    width: 349px;
    height: 80px;
    margin-left: 400px;
    background: #FFFFFF;
    border-radius: 16px;
    border: none;
}

::placeholder {
    padding-left: 20px;
}

button {
    width: 220px;
    height: 80px;
    background: #274C5B;
    border-radius: 16px;
    color: #FFFFFF;
    border: none;
    margin-left: 10px;
}